* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: Arial;
}

#main {
    height: 100%;
    width: 100%;
    /* background-color: lightblue; */
    padding: 0 4.5vw;
    font-size: 16px;
}

#top {
    height: calc((100% - 352px - 5vmax) / 2);
    width: calc(100% - 24px);
    background-color: #E8ECEF;
    display: flex;
    align-items: center;
    padding: 4vmax;
}
h1{
    font-size: 40px;
    /* font-size: 2rem; */
    font-weight: 500;
}
#center {
    padding: 2.5vmax 0;
    width: calc(100% + 24px);

}

.center-card {
    border: 1px solid rgba(0, 0, 0);
    height: 350px;

    &:first-child {
        padding-left: -12px !important;
    }
}

.card-top {
    background-color: #CCCCCC;
    height: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-top h2 {
    font-size: 1.6em;
    opacity: .3;
}

.card-bottom {
    height: 55%;
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 15px 15px;
}
#bottom {
    height: calc((100% - 352px - 5vmax) / 2);
    width: calc(100% - 24px);
    background-color: #E8ECEF;
    display: flex;
    align-items: center;
    padding: 4vmax;
}



@media (min-width:768px) and (max-width:1023px) {
    #main{
        font-size: 15px;
    }
    #top{
        height: 120px;
    }
    h1{
        font-size: 2rem;
    }
    .center-card {
        height:300px ;
    }
.card-bottom {
    padding: 10px 10px;
}
    #bottom{
        height: 120px;
    }
}
@media (max-width:767px) {
    #main {
        font-size: 13px;
        padding: 0 3vw;
    }

    #top {
        height: 90px;
    }
    h1{
        font-size: 2rem;
    }
    .center-card {
        height:230px ;
    }
    .card-bottom {
        padding: 5px 5px;
    }
    #bottom {
        height: 90px;
    }
}
