*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial";
}
html,body{
    height: 100vh;
    width: 100vw;
}
#main{
    height: 100%;
    width: 100%;
    padding: 0 9vh;
}
#center{
    padding: 40px 0;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 25px;
    row-gap: 25px;

}
.center-card{
    border: 1px solid #d1d1d1;
    min-height: 330px;
    /* height: 350px; */
    height: calc(100vh- 300px - 80px);

}
.card-top{
    height: 45%;
    background-color: #CCCCCC;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #97999A;
}
.card-top h2{
    font-size: 1.6rem;
    font-weight: 500;
}
.card-bottom{
    height: 55%;
    padding: 15px;
}
.card-bottom h3{
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 20px;
}
.card-bottom p{
    font-size: 1rem;
}
.bgColor{
    background-color: #E8ECEF;
    display: flex;
    align-items: center;
    padding-left: 50px;
    min-height: 90px;
    height: calc((100vh - 410px)/2);
}
.bgColor h1{
    font-size: 2.5rem;
    font-weight: 500;
}

@media (max-width:1094px) {
    #center{
        grid-template-columns: repeat(3,1fr);
    }
    .bgColor{
        height: calc((100vh 480px)/2);
    }
}
@media (max-width:992px) {
    .bgColor{
        height: calc((100vh 530px)/2);
        
    }
}
@media (max-width:768px) {
    #main{
        padding: 0 7vh;
    }
    .bgColor{
        height: calc((100vh 580px)/2);

    }
    #center{
        grid-template-columns: repeat(2,1fr);
    }
    .center-card{
        height: 300px;
    }
    .card-bottom p{
        font-size: .9rem;
    }
}
@media (max-width:576px) {
    #main{
        padding: 0 6vh;
    }
    .bgColor{
        padding: 0 20px;
    }
    .bgColor h1{
        font-size: 1.8rem;
        height: calc((100vh 530px)/2);

    }
    #center{
        grid-template-columns: repeat(1,1fr);
    }
    .center-card{
        min-height: 250px;
        height: auto;
    }
    .card-top{
        height: 60%;
    }
    .card-bottom{
        overflow: scroll;
        height: 40%;
        &::-webkit-scrollbar{
            display: none;
        }
    }
    .card-bottom h3{
        margin-bottom: 10px;
    }
}